.box {
	width: 150px;
}

@media print {

	@media (max-width: 1250px) {

		@media (max-width: 1000px) {

			.box {
				width: 450px;
			}
		}
	}
}

@media print {

	@media (max-width: 1250px) {

		.box {
			width: 300px;
		}
	}
}