.box-foo {
	background-color: color(white);
}

.box-foo {
	width: calc(58.3333333333% - 150px); 
}

.box-foo {
	width: calc(58.3333333333% - 100px); 
}

.box-foo {
	width: calc(58.3333333333% - 150px); 
}

.box-foo {
	width: undefined; 
}

.box-foo {
	width: calc(150px - 50px); 
}