:root {
	--some-color: red;
	--some-width: 150px;
	--some-other-width: 50px;
	--some-margin: 20px;
	--some-padding: 20px;
}

.box-foo {
	background-color: color(var(--some-color));
}

.box-foo {
	background-color: color(var(--missing, white));
}

.box-foo {
	width: calc(58.3333333333% - var(--some-width, 100px)); 
}

.box-foo {
	width: calc(58.3333333333% - var(--missing, 100px)); 
}

.box-foo {
	width: calc(58.3333333333% - var(--missing, var(--some-width, 100px))); 
}

.box-foo {
	width: calc(58.3333333333% - var(--missing)); 
}

.box-foo {
	width: calc(var(--some-width) - var(--some-other-width)); 
}

.box-foo {
  --widthA: 100px;
  --widthB: calc(var(--widthA) / 2);
  --widthC: calc(var(--widthB) / 2);
  width: var(--widthC);
}

.box-foo {
	margin: calc(var(--some-margin) - 2px) calc(1rem - var(--missing));
}

.box-foo {
	padding: calc(var(--some-padding) - 2px) calc(100px - var(--some-padding)) calc(100px - calc(var(--missing, 20px) - 10px));
}