.box-foo {
	background-color: color(red);
}

.box-foo {
	background-color: color(white);
}

.box-foo {
	width: calc(58.3333333333% - 150px); 
}

.box-foo {
	width: calc(58.3333333333% - 100px); 
}

.box-foo {
	width: calc(58.3333333333% - 150px); 
}

.box-foo {
	width: undefined; 
}

.box-foo {
	width: calc(150px - 50px); 
}

.box-foo {
	width: calc(calc(100px / 2) / 2);
}

.box-foo {
	margin: undefined
}

.box-foo {
	padding: calc(20px - 2px) calc(100px - 20px) calc(100px - calc(20px - 10px));
}

