:root {
	--color-one: #0000ff;
	--color-two: #00ff00;
	--color-three: #00ff00;
}

.before {
	prop: before;
	color: #0000ff;
}

.after {
	color: #00ff00;
	prop: after;
}

.before-and-after {
	prop: before;
	color: #ff0000;
	otherprop: after;
}