:root {
	--color-one: #0000ff;
	--color-two: #00ff00;
	--color-three: #00ff00;
}

.foo {
	prop: before;
	color: #0000ff;
}

.bar {
	color: #00ff00;
	prop: after;
}

.foo-and-bar {
	prop: before;
	color: #ff0000;
	otherprop: after;
}