:root {
	--color-one: #0000ff;
	--color-two: #00ff00;
	--color-three: var(--color-two);
}

.foo {
	prop: before;
	color: var(--color-one);
}

.bar {
	color: var(--color-two);
	prop: after;
}

.foo-and-bar {
	prop: before;
	color: var(--missing, #ff0000);
	otherprop: after;
}